body{
  background-color: #fbc7bc
}
h1{
  color: blue;
  text-align: center;
}

h2{
  color: green;
  font-style: italic;
  text-align: center;
}

em{
  font-style: bold;
}

strong{
  font-style: italic;
}

p{
  font-family: serif;
  font-size: 14px;
}

ul{
  line-height: 40px;
}

ol{
  line-height: 40px;
}
